<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="blue">
    <center>
    <marquee><h1>WELCOME TO BARCA PAGE</h1></marquee>
   <h3><p>Barcelona is the best football club which take part in spanish football league named as Laliga.Because of barcelona popularity
    their haters always put allegations on them.Barcelona produces good players instead of buying good palyers.Some of the legends 
    barca produces Messi is one of them.They gave all the training to messi from young age and made him a legend.Other players are 
    Ronaldino,Pique,Xavi,Iniesta and many more  </p>
   </h3>
    <a href="{% url 'psg' %}"><h4>click here to go to psg</a></h4>
    <a href="{% url 'app:csk' %}"><h4>click here to go to csk</a></h4>
    </center>
    
</body>
</html>