<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <center>
   <marquee behavior="" direction=""> <h1>Welcome To CSK Page</h1></marquee>
    <h3><p>CSK is the best team in IPl and have won 4 trophies under the captaincy of Ms Dhoni.CSK played total of 13 IPl out of which CSK
        reached in playoffs in all season.CSK has record of scoring most number of 200's in IPL.The legends who played for CSK are:
        Suresh Raina,MS Dhoni,Mike Hussey etc...
    </p>
    </h3>
    <a href="{% url 'app1:barca' %}"><h4>click here to go to barca</a></h4>
    <a href="{% url 'psg' %}"><h4>click here to go to psg</a></h4>
    </center>

</body>
</html>