<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="purple">
    <center>
    <marquee behavior="h1" direction=""><h1>WELCOME TO PSG</h1></marquee>
    <h1>PSG is worst club always buys expensive players but dont know how to use them</h1>
    <a href="{% url 'app1:barca' %}"><h4>click here to go to barca</a></h4>
    <a href="{% url 'app:csk' %}"><h4>click here to go to csk</a></h4>
    </center>

</body>
</html>